<style>
h1{
  color: crimson;
  font-size: 50px;
}
.todoapp{
  padding-left: 800px;
align-self: center;
}
.destroy{
  font-size: 20px;
}
.view{
  font-size: 30px;
  color:blue;
}
.new-todo{
  font-size: 30px;
}
.toggle{
  font-size: 50px;
}
.footer{
  font-size: 20px;
  color: brown;
}
</style>
<body>
<div class="final">
<section class="todoapp">
  <header class="header">
    <h1>Todo List</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
  </header>
  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="removeTodo(todo)">Remove</button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>
</div>
</body>